.z-input {
  // label
  .z-input-label {
    display: inline-block;
    min-width: 40px;
    text-align: right;
  }

  // label(与 control 在同一水平线)
  &.horizontal {
    display: flex;
    align-items: center;

    .z-input-label {
      margin-right: 8px;

      // empty label
      &.mr2 {
        margin-right: 8;
      }
    }
  }

  // control
  .z-input-control {
    position: relative;
    flex-grow: 1;
    border-radius: inherit;

    .ant-input, 
    .ant-select,
    .ant-select-selector,
    .ant-picker {
      border-radius: inherit;
    }

    .ant-select,
    .ant-picker {
      width: 100%;
    }

    // messages
    .z-messages {
      position: absolute;
      bottom: -22px;
      left: 0;
      font-size: 14px;
      line-height: 1.5715;
    }
  }

  // 胶囊形态
  &.capsule {
    border-radius: 9999px;
  }

  &.z-input-btn {
    display: inline-block;

    &.block {
      display: block;
    }

    .ant-btn {
      border-radius: inherit;
    }
  }

  // upload、editor
  &.z-input-upload,
  &.z-input-editor {
    .z-input-label {
      align-self: flex-start;
    }
  }

  // required
  &.required {
    // label
    .z-input-label {
      &::before {
        content: "*";
        display: inline-block;
        margin-right: 4px;
        font-size: 14px;
        line-height: 1;
        color: #ff4d4f;
      }
    }
  }

  // editor
  &.z-input-editor {
    .z-input-control {
      .editor {
        border: 1px solid #d9d9d9;

        .editor-toolbar {
          border-bottom: 1px solid #d9d9d9;
        }

        .editor-container {
          overflow: hidden;
          height: 360px !important;
        }
      }
    }
  }

  // invalid
  &.z-input-error {
    // control
    .z-input-control {
      // input
      input.ant-input {
        border-color: #ff7875 !important;
        box-shadow: 0 0 0 2px rgba(255, 77, 79, .2) !important;
      }

      // select
      .ant-select-selector {
        border-color: #ff7875 !important;
        box-shadow: 0 0 0 2px rgba(255, 77, 79, .2) !important;
      }

      // date
      .ant-picker {
        border-color: #ff7875 !important;
        box-shadow: 0 0 0 2px rgba(255, 77, 79, .2) !important;
      }

      // error message
      .error-message {
        color: #ff4d4f;
      }
    }
  }

  &.z-input-group {
    &.vertical {
      align-items: flex-start !important;
  
      .z-input-control {
        .ant-checkbox-group,
        .ant-radio-group {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
} 