.z-input {
  // label
  .z-input-label {
    &::before {
      content: "*";
      display: inline-block;
      margin-right: 4px;
      font-size: 14px;
      line-height: 1;
      color: #ff4d4f;
    }
  }

  // control
  .z-input-control {
    position: relative;

    // messages
    .z-messages {
      position: absolute;
      bottom: -22px;
      left: 0;
      font-size: 14px;
      line-height: 1.5715;

      .error-message {
        color: #ff4d4f;
      }
    }
  }
} 