.z-input {
  // label
  .z-input-label {
    display: inline-block;
    min-width: 40px;
    text-align: right;
  }

  // control
  .z-input-control {
    position: relative;
    flex-grow: 1;

    // messages
    .z-messages {
      position: absolute;
      bottom: -22px;
      left: 0;
      font-size: 14px;
      line-height: 1.5715;
    }
  }

  // editor
  &.z-input-editor {
    .z-input-label {
      align-self: flex-start;
    }
  }

  // horizontal
  &.horizontal {
    display: flex;
    align-items: center;

    .z-input-label {
      margin-right: 8px;

      // empty label
      &.mr2 {
        margin-right: 8;
      }
    }
  }

  // required
  &.required {
    // label
    .z-input-label {
      &::before {
        content: "*";
        display: inline-block;
        margin-right: 4px;
        font-size: 14px;
        line-height: 1;
        color: #ff4d4f;
      }
    }
  }

  // invalid
  &.z-input-error {
    // control
    .z-input-control {
      // input
      input.ant-input {
        border-color: #ff7875 !important;
        box-shadow: 0 0 0 2px rgba(255, 77, 79, .2) !important;
      }

      // select
      :deep(.ant-select-selector) {
        border-color: #ff7875 !important;
        box-shadow: 0 0 0 2px rgba(255, 77, 79, .2) !important;
      }

      // date
      .ant-picker {
        border-color: #ff7875 !important;
        box-shadow: 0 0 0 2px rgba(255, 77, 79, .2) !important;
      }

      // error message
      .error-message {
        color: #ff4d4f;
      }
    }
  }
} 