.z-modal {
  .ant-modal-body {
    padding: 0;

    /* 主要内容 */
    .z-modal-container {
      overflow-y: auto;
      max-height: calc(100vh - 160px);
      padding: 24px;
    }

    /* 底部内容 */
    .z-modal-footer {
      display: flex;
      justify-content: flex-end;
      padding: 12px;
      border-top: 1px solid #f0f0f0;

      .cancel {
        margin-right: 8px;
      }
    }
  }
}