.z-dialog {
  .ant-modal-content {
    display: flex;
    flex-direction: column;

    .ant-modal-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
  
      /* 主要内容 */
      .z-modal-container {
        flex: 1;
        overflow-y: auto;
        max-height: calc(100vh - 160px);
        padding: 12px 24px;
      }
  
      /* 底部内容 */
      .z-modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: 12px;
        border-top: 1px solid #f0f0f0;
  
        .cancel {
          margin-right: 8px;
        }
      }
    }
  }

  // 全屏
  &.fullscreen {
    .ant-modal {
      width: 100vw !important;
      height: 100vh !important;
      max-width: unset;

      .z-modal-container {
        min-height: calc(100vh - 112px);
      }
    }
  }
}