.z-input-checkbox-group {
  &.vertical {
    align-items: flex-start !important;

    .z-input-control {
      .ant-checkbox-group {
        display: flex;
        flex-direction: column;
      }
    }
  }
}